@mixin font($color, $weight: null, $decoration: null) {
    color: $color;
    font-family: "Montserrat", sans-serif;
    @if $weight != null {
        font-weight: $weight;
    }
    @if $decoration != null {
        text-decoration: $decoration;
    }
}

@mixin flex ($flex, $content: null, $items: null){
    display: $flex;
    @if $content !=null {
        justify-content: $content;
    }    
    @if $items !=null {
        align-items: $items;
    }
}