//variables
@use "../utilidades/variables" as *;
//mixin
@use "../utilidades/mixin" as *;
/* estilos de header */
/* estilos de header top */
.headerSuperior {
    background-color: $color-secundario;
    @include flex (flex,right,center);
    nav {
        ul{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 10px 20px;
            list-style: none;
            padding: 0;
            margin: 0;
                li {
                    margin: 5px 15px;
                    text-align: center;
                    a {
                        @include font ($color-principal,null,none);
                        display: block;
                    }
            }
        }

    }
}
/* estilos de header nav*/
.headerNav {
    background-color: $color-principal;
    @include flex (flex,space-between,center);
    padding-right: 10px;
}

.headerRight {
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        gap: 20px;
        @include flex(flex, null, center);

        li {
            a, button {
                @include font($color-secundario, bold, none);
                font-size: 1em;
                background: none;
                border: none;
                cursor: pointer;
            }

            .asociate {
                background-color: $color-principal;
                @include font($color-secundario, bold, null);
                border: 2px solid $color-secundario;
                border-radius: 50px;
                padding: 8px 20px;
                font-size: 1em;
                cursor: pointer;
                transition: all 0.3s ease;

                &:hover {
                    background-color: $color-secundario;
                    color: $color-principal;
                    box-shadow: $box-shadow
                }
            }
        }
    }
}

.inicio {
    padding: 10px 10px;
    a { 
        img {
        width: 60%;
        height: auto;
        object-fit: cover;
        }
    }
}

.navbar-manada {
    background-color: $color-principal;
}

/* estilos de main */
/* section entrenaAhora */
main {
    background-color:$color-secundario;
    .entrenaAhora {
            background-color:$color-principal;
            height: 300px;
            padding-left: 10px;
            padding-top: 30px;
            border-top: 1px solid $color-secundario;
            h1 {
                @include font ($color-secundario,bold,none);
                font-size: 2em;
            }
    }
}

/* section agendaClase */

.agendaClase {
    background-color: $color-principal;
    padding: 10px;
    @include flex (flex,center,center);
    .agendatuPrimer {
        background-color: $color-principal;
        @include font ($color-secundario,bold,null);
            border: 2px solid #EFEFEF;
            border-radius: 50px;
            padding: 8px 20px;
            font-size: 1em;
            cursor: pointer;
            transition: all 0.3s ease;
    }
}

.agendatuPrimer:hover {
    background-color: $color-secundario;
    color: $color-principal;
    box-shadow: $box-shadow;
}

/* section novedadesSection */

.novedades-link {
  text-decoration: none;
  color: inherit;
  display: block;

  .novedadesSection {
    background-color: $color-secundario;
    height: 80px;
    padding-left: 10px;
    padding-top: 5px;

    h2 {
      @include font($color-principal, bold, none);
      font-size: 2em;
    }

    p {
      @include font($color-principal, bold, none);
      font-size: 1em;
    }
  }
}

/* section clasesGrupales y entrenamientoPersonal */

.clasesGrupales, .entrenamientoPersonal {
    background-color: $color-principal;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    border-top: $border-top;
    h3 {
        @include font ($color-secundario,bold,null);
        font-size: 2em;
    }
    p {
        @include font ($color-secundario,bold,null);
        font-size: 1em;
    }
    button {
        background-color: $color-principal;
        @include font ($color-secundario,bold,null);
        border: 2px solid #EFEFEF;
        border-radius: 50px;
        padding: 8px 20px;
        font-size: 1em;
        cursor: pointer;
    }
}

.boton-comenzar:hover {
    background-color: $color-secundario;
    color: $color-principal;
    transition: all 0.3s ease;
}

@media screen and (min-width: 768px) {
  .boton-comenzar {
    width: 140px;              
    padding: 8px 20px;            
    font-size: 0.9em;
    text-align: center;
  }
}

/* estilos de footer */

.footer {
    background-color: $color-secundario;
    @include flex (flex,null,center);
    flex-direction: column;
    .footerContent {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 32px;
        padding: 15px;
        .logoredesContent {
            @include flex (flex,null,center);
            flex-direction: column;
            gap: 15px;
            a {
                img {
                    width: 180px;
                    max-width: 100%;
                    height: auto;
                    object-fit: cover;
                }
            }
            .redes ul {
                @include flex (flex,center,center);
                list-style: none;
                gap: 15px;   
                padding: 0;
                margin: 0;
                li {
                    a {
                        img {
                            width: 25px;
                        }
                    }
                }
            }
        }
        .contacto, .formacion {
            @include font ($color-principal,null,null);
            gap: 32px;
            width: 100%;
        }
    }
    .copyright {
        @include font ($color-principal,null,null);
        text-align: center;
        font-size: 15px;
        border-top: $border-top-copy;
        padding: 5px 15px;
        width: 100%;
    }
}

@media (max-width: 768px) {
    .footerContent {
        grid-template-columns: 1fr 1fr;
    }

    .logoredesContent {
        grid-column: 1 / -1;
    }

    .contacto, .formacion {
        min-width: 0;
    }
}