* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* estilos de header */
/* estilos de header top */
.headerSuperior {
    background-color: #EFEFEF;
    display: flex;
    justify-content:right;
}

.headerSuperior {    
    display: flex;
    align-items: center;
}

.headerSuperior ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.headerSuperior li {
    margin: 5px 15px;
}

.headerSuperior a {
    color: #3B95E1;
    text-decoration: none;
    display: block;
    font-family: "Montserrat", sans-serif;
}

/* estilos de header nav*/

.headerNav {
    background-color: #3B95E1;
    display: flex;
    justify-content:space-between;
    padding-right: 10px;
    align-items: center;
}

.headerRight ul {
    display: flex;
    list-style: none;
    gap: 20px;
    align-items: center;
}

.headerRight a {
    color: #EFEFEF;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-weight:bold;
    font-size: 1em;
}

.asociate {
    background-color: #3B95E1;
    color: #EFEFEF;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    border: 2px solid #EFEFEF;
    border-radius: 50px;
    padding: 8px 20px;
    font-size: 1em;
    cursor: pointer;
    transition: all 0.3s ease;
}

.asociate:hover {
    background-color: #EFEFEF;
    color: #3B95E1;
    box-shadow: 0 0 10px rgba(59, 149, 225, 0.7);
}

.inicio {
    padding: 10px 10px;
}

.inicio a img {
    width: 60%;
    height: auto;
    object-fit: cover;
}

.navbar-manada {
    background-color: #3B95E1;
}

/* estilos de main */

main {
    background-color:#EFEFEF;
}

/* section entrenaAhora */
main .entrenaAhora {
    background-color:#3B95E1;
    height: 300px;
    padding-left: 10px;
    padding-top: 30px;
    border-top: 1px solid #EFEFEF;
}

.entrenaAhora h1 {
    color: #EFEFEF;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-weight:bold;
    font-size: 2em;
}

/* section agendaClase */

.agendaClase {
    background-color: #3B95E1;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.agendatuPrimer {
    background-color: #3B95E1;
    color: #EFEFEF;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    border: 2px solid #EFEFEF;
    border-radius: 50px;
    padding: 8px 20px;
    font-size: 1em;
    cursor: pointer;
    transition: all 0.3s ease;
}

.agendatuPrimer:hover {
    background-color: #EFEFEF;
    color: #3B95E1;
    box-shadow: 0 0 10px rgba(59, 149, 225, 0.7);
}

/* section novedadesSection */

.novedadesSection {
    background-color:#EFEFEF;
    height: 80px;
    padding-left: 10px;
    padding-top: 5px;
}

.novedadesSection h2 {
    color:#3B95E1;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-weight:bold;
    font-size: 2em;
}

.novedadesSection p {
    color:#3B95E1;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-weight:bold;
    font-size: 1em;
}

/* section clasesGrupales y entrenamientoPersonal */

.clasesGrupales, .entrenamientoPersonal {
    background-color: #3B95E1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.clasesGrupales h3, .entrenamientoPersonal h3 {
    color: #EFEFEF;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 2em;
}


.clasesGrupales p, .entrenamientoPersonal p {
    color: #EFEFEF;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 1em;
}

.boton-comenzar {
    background-color: #3B95E1;
    color: #EFEFEF;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    border: 2px solid #EFEFEF;
    border-radius: 50px;
    padding: 5px 15px;
    font-size: 1em;
    cursor: pointer;
}

.boton-comenzar:hover {
    background-color: #EFEFEF;
    color: #3B95E1;
    transition: all 0.3s ease;
}

/* estilos de footer */

.footer {    
    background-color: #EFEFEF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footerContent {
    display: flex;
    gap: 32px;
    padding: 15px;
    flex-wrap: wrap;
    justify-content: center;
}

.copyright {
    color: #3B95E1;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    font-size: 15px;
    border-top: 1px solid #3B95E1;
    padding: 5px 15px;
    width: 100%;
}

.logoredesContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.logoredesContent a img {
    width: 180px;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.redes ul {
    display: flex;
    list-style: none;
    gap: 15px;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.redes a img {
    width: 25px;
}

.columns {  
    display: flex;
    gap: 32px;
    color: #3B95E1;
    font-family: "Montserrat", sans-serif;
}


.columns > div {
    display: flex;
    flex-direction: column;
    gap: 8px;
}